
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" style="cursor: pointer">Schedule</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a *ngIf="responseLogin==false" (click)="loginUser()" class="nav-link" style="cursor: pointer">Iniciar sesión</a>
          </li>

          <li *ngIf="responseLogin==true && rolLogin == 'admin'" class="nav-item">
            <a (click)="asignarHorarios()" class="nav-link" style="cursor: pointer">Asignar Horarios</a>
          </li>

          <li *ngIf="responseLogin==true && rolLogin == 'admin'" class="nav-item">
            <a (click)="periodosAcademicos()" class="nav-link" style="cursor: pointer">Gestión Periodos Académicos</a>
          </li>

          <li *ngIf="responseLogin==true && rolLogin == 'admin'"class="nav-item">
            <a (click)="ambientesAcademicos()" class="nav-link" style="cursor: pointer">Gestión Ambientes</a>
          </li>

          <li *ngIf="responseLogin==true && rolLogin == 'docente'"class="nav-item">
            <a (click)="horariosDocente()" class="nav-link" style="cursor: pointer">Mis Horarios</a>
          </li>
          
          <li *ngIf="responseLogin==true" class="nav-item">
            <a (click)="logoutUser()" class="nav-link" style="cursor: pointer">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 *ngIf="responseLogin==true"> Sesión: {{usuarioLogin}}</h1>
<router-outlet></router-outlet>
 