/* You can add global styles to this file, and also import other style files */
footer{
    background-color: #000330;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(179, 179, 179);
}